<!--<?xml version="1.0" encoding="utf-8"?>-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.createba">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-sdk android:minSdkVersion="4"></uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>

    <application
        android:name=".BasisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="555c061567e58ed02c000341"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <activity
            android:name="com.example.administrator.createba.activitys.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.MyContentProvider"
            android:authorities="com.example.administrator.createba.contentprovider.MyContentProvider"
            android:exported="false"></provider>
        <!--android:exported="false" 不对第三方公开-->

        <!-- 账户管理-->
        <activity
            android:name="com.example.administrator.createba.account.LoginActivity"
            android:label="登陆注册"
            android:launchMode="singleTask"></activity>

        <service
            android:name="com.example.administrator.createba.account.AccountService"
            android:process=":Auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
                <!-- 系统及注册Service 账户管理 -->
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
            <!-- 指向配置文件 -->
        </service>

    </application>

</manifest>
